<?xml version="1.0" encoding="Windows-1252"?>
<InstanceConfiguration
	MaxMessageSize="512000"
	MaxQueuedDataPerPeer="512000"
	PerPeerMaxReliableDataInTransit="51200"
	PerPeerTransmitRateLimitKBSec="256"
	PerPeerTransmitRatePeriodMilliseconds="200"
	MinimumTimeout="5000"
	MaximumTimeout="30000"
	DisplayName="RappelzRift-Stg">

	<TCPListeners>
		<TCPListener
			IPAddress="127.0.0.1"
			Port="30001"
			OverrideApplication="GameServer_1"
			PolicyFile="E:\Code\0RappelzRift\PhotonServer\Photon-OnPremise-Server-SDK_v4-0-29-11263\deploy\Policy\assets\socket-policy.xml"
			InactivityTimeout="300000">
		</TCPListener>
	</TCPListeners>

	<!-- WebSocket (and Flash-Fallback) compatible listener -->
	<!-- <WebSocketListeners> -->
		<!-- <WebSocketListener -->
			<!-- IPAddress="0.0.0.0" -->
			<!-- Port="9090" -->
			<!-- DisableNagle="true" -->
			<!-- InactivityTimeout="10000" -->
			<!-- OverrideApplication="GameServer"> -->
		<!-- </WebSocketListener> -->
	<!-- </WebSocketListeners> -->

	<!-- Defines the Photon Runtime Assembly to use. -->
	<Runtime
		  Assembly="PhotonHostRuntime, Culture=neutral"
		  Type="PhotonHostRuntime.PhotonDomainManager"
		  UnhandledExceptionPolicy="Ignore">
	</Runtime>

	<!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
	<!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
	<Applications Default="GameServer_1">
		<Application
				Name="GameServer_1"
				BaseDirectory="."
				Assembly="GameServer"
				Type="GameServer.GameServerApp"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
		</Application>
	</Applications>
</InstanceConfiguration>