<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RappelzRift_User" connectionString="Data Source=127.0.0.1,1433; Initial Catalog=Rappelz_User; User ID=RappelzAdmin; Password=4851044" />
  </connectionStrings>
  <appSettings>
    <add key="HashKey" value="fkvpfwmdprtptmgotlzl!@#" />
  </appSettings>
</configuration>